
    <html>
<head>
  <title>Create New Issue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/newIssue.css">

</head>

<body>
<!-- NAVIGATION BAR -->
<div class="navbar">
  <div class="navbar-new">
    <a href="/createNew" style="font-weight: 600">+</a>
  </div>
  <div class="navbar-left-most">
    <div class="dropdown">
      <button class="dropbtn">CREATE NEW ISSUE
        <i class="fa fa-chevron-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/homePage" class="active">Food with Matt</a><!--
        <a href="oldIssues/rinka.html">Food with Rinka</a>
        <a href="oldIssues/rajiv.html">Property with Rajiv</a>
        <a href="newIssue/index.html">Create New Issue</a>-->
      </div>
    </div>
  </div>
  <div class="navbar-settings">
    <div class="dropdown">
      <button class="dropbtn">&#9776;</button>
      <div class="dropdown-content" style="right:0">
        <a href="/settings">Settings</a>
        <a href="/logOut">Log Out</a>
      </div>
    </div>
  </div>
</div>


<!-- ACTUAL CONTENT BEGIN -->
<div class="main-content-area">
  <h1 class="submitIssueH1">Your issue has been recorded.</h1>
  <div class="final-options">
    <a href="./homePage">
    <button class="filled-in">See Issue
    </button>
  </a>
  </div>
</div>

  <script>
    function goBack(){
      window.history.back();
    }
    function saveData(){
      localStorage.title = $('#title').val();
      console.log(localStorage.getItem("title"));
    }

  </script>


</body>
</html>
